body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-content-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header{
    flex: 1;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.header-logo{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 0.2fr;
    width: 80%;
    height:80%
}

.content{
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}

.payroll-form{
    width: 50%;
    background-color: #fff;
    box-shadow: 5px 5px 5px #E9E9E9;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.emp{
    text-transform: uppercase;
    color: #9DBA42;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pay{
    text-transform: uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    margin: 0;
    line-height: 1.2rem;
}

.logo{
    align-self: center;
    justify-self: end;
}

span{
    font-size: 1.5rem;
}

.input-div{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.ip{
    flex:9;
    margin-right: 3%;
    height: 2rem;
    border: 2px solid #E8E8E8;
    padding-left: 1%;
    padding-right: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ip-label{
    flex:1;
    padding-left: 3%;
    align-self: center;
    color: #8A939C;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.error{
    border: 2px solid red;
}

.error-text{
    color:red;
    padding-left: 3%;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    padding-left: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    color: #4D5B68;
}

.dp-div, .gender-div, .department-div, .date-container{
    border:0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dp-element, .gender-element{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 2fr;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]{
    height: 1rem;
    width: 1rem;
}

.department-cb{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.department-div{
    padding-top: 1%
}

.slider-div, .name-ip, .day-ip, .month-ip, .year-ip{
    font-size: 1rem;
    margin-left: 1.3%;
}

.day-ip, .month-ip, .year-ip, .notes-ip{
    width: 90%;
    padding: 5%;
    height: 100%;
}

.notes-ip{
    margin-left: 2.15%;
}

.notes-label{
    align-self: inherit;
}

.button-container{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 3fr 3fr;
}

.inner-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}

button{
    width: 10rem;
    height: 2.5rem;
    border-radius: 4px;
    border: 2px solid #E8E8E8;
}

.cancel-button{
    margin-left: 5%;
    margin-bottom: 5%;
}

.submit-button, .reset-button{
    margin-right: 11.8%;
}

.slider-div{
    flex: 9;
    align-self: center;
    display: flex;
}

.salary-slider{
    flex: 5;
    width: 100%;
}

.slider-output{
    flex:1;
}

@media screen and (max-width: 760px){
    .cancel-button{
        width: 70%;
    }

    .submit-button, .reset-button{
        width: 90%;
    }

    .payroll-form{
        width: 100%;
        height: 70%;
    }

    .date-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .notes-ip{
        padding:0
    }

    .department-div{
        flex:2
    }
}